.Quote {
    text-align: center;
    margin: 50px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: rgb(83, 78, 78);
    padding: 60px;
  }
  
  button {
    margin-top: 20px;
    font-size: 2rem;
    padding: 30px;
    cursor: pointer;
    background-color: orange;
  }
  
  .quote-container {
    margin-top: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .author {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
  }